<H1>ARC List of Components</H1>

<A HREF=http://store.arduino.cc/index.php>Arduino UNO</A><BR>
<A HREF=http://www.seeedstudio.com/wiki/GPRS_Shield_V1.0>GSM/GPRS Shield for Arduino</A><BR>
<A HREF=http://www.miniinthebox.com/it/2-canali-5v-modulo-rele-ad-alto-livello-di-trigger-per-arduino-funziona-con-ufficiali-schede-arduino_p727426.html?currency=EUR&litb_from=paid_adwords_shopping&gclid=CO2l7oS3xLwCFSvHtAodG1oAVg>2-relays module for Arduino</A><BR>
<A HREF=http://store.arduino.cc/index.php?main_page=product_info&cPath=6_31&products_id=151>Green LED</A><BR>
<A HREF=http://store.arduino.cc/index.php?main_page=product_info&cPath=6_31&products_id=150>Red LED</A><BR>
<A href=http://it.rs-online.com/web/p/prese-elettriche/0190481/>Schuko power socket</A><BR>
<A HREF=http://www.ebay.com/itm/AC-to-DC-9V-1000mA-1A-Power-Supply-Switching-Adapter-USA-Ship-/141008156549>9V/1A power supply</A><BR>
<A HREF=http://it.rs-online.com/web/p/connettori-iec/4982704/>IEC power socket</A><BR>
wires<BR>
box (160&times;95&times;65)<BR>
<P>
Some of the above links may disappear with time. If you find some broken link,
please inform me: <A HREF=mailto:giovanni.organtini@roma1.infn.it>
giovanni.organtini@roma1.infn.it</A>
