<H1>Step by step ARC construction</H1>

<OL>
<LI>Make a rectangular hole on one side of the box and insert the
  IEC socket in it.
<LI>Make two holes on the box cover for the LED's and an appropriate
  hole to insert the schuko socket. Insert the latter in the hole 
  and fix it with glue or screws.
<LI>Connect the earth pin of the IEC socket to the corresponding 
  connector on the schuko one. The wire length should be enough
  to allow the cover to completely open. Use a red/yellow wire.
<LI>Connect a blue wire on the N pin of the IEC socket and to one
  of the relays in the module.
<LI> Use a brown wire to connect the last pin of the IEC socket
  to the second relay.
<LI> Draw a second blue wire from the first relay to the schuko 
  socket.
<LI> Draw a second brown wire from the second relay to the schuko
  socket. Make the latter two wires long enough to allow the 
  cover of the box to open completely.
<LI>Using a jumper connect the pins of the relay modules used
  to control its status (CH1 and CH2).
<LI>Fix the relay module on one of the side of the box using
  hot-melt adhesive.
<LI>Connect the IEC power socket to the power supply inlet using
  two smaller wires.
<LI>Connect the output of the power supply to a couple of long
  wires. The length of the wires should be enough to allow them
  to be fixed on the box cover and let it open completely. Use 
  wires of two different colors or marked in different ways. It
  is important to know which one is the positive lead.
<LI>Using a jumper connect the terminals on the top left side
  of the SIM900 module, such that the module can be powered via
  software commands.
<LI>Insert a valid SIM in the GSM shield. You should have 
  disabled the need for a PIN to activate the SIM.
<LI>Plug the GSM shield on your Arduino UNO.
<LI>Connect the GND and 5V pins to the corresponding pins on the 
  relay module.
<LI>Connect pin 5 of Arduino to one of the control pins of the
  relay (CH1 or CH2).
<LI>Connect the negative leads of the two LEDs together and to
  the GND pin of the Arduino.
<LI>Connect the positive lead of the red LED to pin 3.
<LI>Connect the positive lead of the green LED to pin 2.
<LI>Either using an appopriate connector or soldering the wires
  on the Arduino board, connect the power supply output. Pay 
  attention to the polarity. The central plug of the Arduino 
  connector should be connected to the positive terminal of the
  power supply.
<LI>Fix the LED's in the corresponding holes in the cover.
<LI>Glue the stack Arduino+GSM shield to the internal part of the
  box cover.
<LI>Connect the Arduino to your computer with a USB cable and
  deploy the software. You may want to test it first, so activate
  the debugging changing the debugLevel.
<LI>Connect the antenna to the GSM shield and power up the system.
<LI>Start the Serial Monitor and look at messages.
<LI>Wait for about 10 seconds for the shield to connect to the
  network. The green LED lights up.
<LI>Call the ARC: the relays should close and feed the socket 
  (attach something to it to verify it works).
<LI>Disconnect the ARC from power and disconnect the antenna.
<LI>Using a ruler, measure thh position of the center of the antenna
  connector on the GSM shield with respect to the nearest cover 
  corner and find the place where to make a hole on the box to 
  connect it. make the hole.
<LI>Change the debugLevel to NODEBUG and redeploy the software.
<LI>Close the box.
<LI>Attach the antenna to the shield and have fun.
</OL>
